$primary: #45301F;
$secondary: #DDD6D2;

@import "@/node_modules/bootstrap/scss/bootstrap";

.ff-sans {
    font-family: 'Open Sans', sans-serif;
}

.ff-inter {
    font-family: 'Inter', sans-serif;
}